@page "/fetchdata"
@using SoloX.TableModel.Sample2.Shared
@using SoloX.TableModel.Impl

@inject ITableDataRepository TableDataRepository
@inject ITableStructureRepository TableStructureRepository

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <EditForm Model="@this" OnValidSubmit="@HandleValidSubmit">

        <InputText id="name" @bind-Value="name" />

        <button type="submit">Submit</button>
    </EditForm>

    <p>Forcast count: @forecastCount</p>

    <table class="table">
        <thead>
            <tr>
                @foreach(var col in tableStructure.Columns)
                {
                    @tableDecorator.DecorateHeader(col);
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    @foreach(var col in tableStructure.Columns)
                    {
                        @tableDecorator.Decorate(col, forecast);
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WeatherForecast> forecasts;
    private ITableStructure<WeatherForecast> tableStructure;
    private ITableDecorator<WeatherForecast, MarkupString> tableDecorator;

    private string name;
    private int forecastCount;

    protected override async Task OnInitializedAsync()
    {
        await LoadStructure();
        await LoadData();
    }

    private async Task HandleValidSubmit()
    {
        await LoadData();
    }

    private async Task LoadStructure()
    {
        tableStructure = await TableStructureRepository.GetTableStructureAsync<WeatherForecast>();
        tableDecorator = await TableStructureRepository.GetTableDecoratorAsync<WeatherForecast, MarkupString>("Razor");
    }

    private async Task LoadData()
    {
        var data = await TableDataRepository.GetTableDataAsync<WeatherForecast>();

        var tableFilter = new TableFilter<WeatherForecast>();

        if (!string.IsNullOrEmpty(this.name))
        {
            tableFilter.Register(wf => wf.Summary, v => v.Contains(this.name));
        }

        forecastCount = await data.GetDataCountAsync(tableFilter);

        forecasts = await data.GetDataAsync(tableFilter);
    }
}
